alembic
azure-common
azure-nspkg
azure-storage==0.36.0
certifi
cffi
chardet
Click
cryptography
Flask
Flask-Login
Flask-Session
Flask-SQLAlchemy
Flask-WTF
idna
itsdangerous
Jinja2
Mako
MarkupSafe
msal
pip
pycparser
pyodbc
pyopenssl
python-dateutil
python-editor
requests
setuptools
six
SQLAlchemy
urllib3
Werkzeug
WTForms
